<h1>DIARY DETAIL</h1>

<div>
    {% if post.pub_date %}
        <div>
            {{post.pub_date}}
        </div>
    {%endif%}
    <h1>{{post.title}}</h1>
    <p>{{post.body|linebreaks}}</p>
    {% if post.image %}
        <img src="{{ post.image.url }}" height=400><br>
        이미지 다운 : <a href="{{ post.image.url }}" download>{{ post.image.name }}</a>
    {% endif %}
    {% if post.file %}
        첨부파일 다운 : <a href="{{ post.file.url }}" download>{{ post.file.name }}</a>
    {% endif %}
</div>

<a href="{%url 'edit' index=post.pk%}">edit</a>
<a href="{%url 'delete' pk=post.pk%}">delete</a>
<br><br>


<form method="POST">
    {% csrf_token %}
    <input type="text" name="text">
    <button type = "submit">댓글 달기</button>
</form>

{% for comment in comment_list %}
<h5>{{ comment.created_date }}</h5>
<p>{{ comment.text|linebreaks }}</p>
<a href="{% url 'delete_comment' index=post.pk comment_pk=comment.pk %}">댓글 삭제 </a>
{% endfor %}

